@font-face {
	font-family: circle-font;
	src: url("/fonts/CircularSpUIv3T-Bold.ttf");
}

.MuiOutlinedInput-root {
    width: 80%;
    /* margin-left: 4s0px; */
}
.MuiFormControl-root {
    flex-direction: row !important;
}

.gettweet-search-btn {
    margin-left: 20px !important;
}

#gt-form {
    width: 100%;
}

.gt-label.error {
    color: red !important;
    font-weight: 450;
}

.gt-banner {
    padding-top: 150px;
    padding-bottom: 20px;
    color: #4d4d4d;
    /* font-family: circle-font !important; */
}

.gt-spinner {
    margin-top: 100px;
}

.gt-example{
    margin-left: 16px;
    display: flex;
    align-items: center;
}
.gt-example .gt-example-btn{
	background: none;
	border: none;
	color: #737373;
    cursor: pointer;
    /* font-family: leckerlione-regular !important; */
}
.gt-example .gt-example-btn:hover{
	background: #d9d9d9;
	color: #1e1e1e;
    border-radius: 5px;
}

.gt-example input {
    padding: 10px;
    font-size: 14px;
}

.gt-example ul {
    display: flex;
    list-style: none;
    margin-bottom: 0px;
    margin-left: auto;
    margin-right: 160px;
    align-items: center;
    justify-content: center;
}
.gt-example ul li{
    padding-left: 12px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.fb-share-button {
    display: flex !important;
}
/* .gt-example ul li > iframe {

} */